{% extends "base.html" %} {% block content%}

{% for post in posts.items %}
<article class=" rounded-md media content-section shadow-md p-2 flex flex-row bg-white">
    <img class="rounded-full h-[3.5rem] w-[3.5rem]" src="{{url_for('static',filename='profile_pics/' + post.author.image_file)}}">
    <div class="pl-2 ">
        <div class="border-b-2 w-[20rem]">
            <a class="mr-2 text-sky-500" href="{{url_for('users.user_posts',username=post.author.username)}}">{{ post.author.username }}</a>
            <small class="text-slate-500">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            <!-- <hr /> -->
        </div>
        <h2><a class="font-medium text-3xl hover:text-sky-500" href="{{url_for('posts.post',post_id=post.id)}}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
<section class="flex flex-wrap gap-1">
{%for page_num in posts.iter_pages(left_edge=1,right_edge=1, left_current=1,right_current=2)%}
    {%if page_num%}
        {%if posts.page==page_num%}
        <a class=" text-sm border-white border p-2 inline bg-sky-300 text-white" href="{{url_for('main.home',page=page_num)}}">{{page_num}}</a>
        {%else%}
        <a class=" text-sm border-sky-300 border text-sky-400 p-2 inline hover:bg-sky-300 hover:text-white" href="{{url_for('main.home',page=page_num)}}">{{page_num}}</a>
        {%endif%}
    {%else%}
        ...
    {%endif%}
{%endfor%}

</section>
{%endblock content%}